input[type="text"],
input.p-inputnumber-input,
input[type="password"] {
  width: 100%;
  border-radius: var(--border-radius);
}

.p-password,
.p-inputnumber {
  width: 100%;
}

p-inputnumber {
  padding: 0;
  border: none;
  width: 100%;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.p-multiselect,
.p-dropdown {
  border-radius: var(--border-radius);
  width: 100%;
}

input.p-inputnumber-input, {
  box-shadow: none;
}
