<div class="summaries-container">
  <div class="stat-summary-wrapper">
    <div class="stat-summary-container border round">
      <span class="title">{{ "statistics.totalCards" | transloco }}</span>
      <span class="value">{{ totalSingleCardsCompleted }}/{{ totalSingleCards }}</span>
    </div>
  </div>
  <div class="stat-summary-wrapper">
    <div class="stat-summary-container border round">
      <span class="title">{{ "statistics.totalExcessCards" | transloco }}</span>
      <span class="value">{{ totalExcessCards }}</span>
    </div>
  </div>
</div>

<div class="filters-section-container border round">
  <h2>{{ "common.filters" | transloco }}</h2>
  <div class="filters-container">
    <div class="filter-container">
      <app-checkbox
        [label]="'statistics.filters.includeSpecial' | transloco"
        [(ngModel)]="includeSpecial"
        (onChangeValue)="onLocalFiltersChange()"
      ></app-checkbox>
    </div>
    <div class="filter-container">
      <app-checkbox
        [label]="'statistics.filters.includeAlternateArt' | transloco"
        [(ngModel)]="includeAlternateArt"
        (onChangeValue)="onLocalFiltersChange()"
      ></app-checkbox>
    </div>
    <div class="filter-container">
      <app-checkbox
        [label]="'statistics.filters.includeDon' | transloco"
        [(ngModel)]="includeDon"
        (onChangeValue)="onLocalFiltersChange()"
      ></app-checkbox>
    </div>
    <div class="filter-container">
      <app-checkbox
        [label]="'statistics.filters.excludeExcess' | transloco"
        [(ngModel)]="excludeExcess"
        (onChangeValue)="onLocalFiltersChange()"
      ></app-checkbox>
    </div>
  </div>
</div>

<div class="statistics-container">
  @for (statistic of statistics; track statistic.id) {
    <div class="set-statistics-container border round">
      <h2>{{ statistic.name }}</h2>
      @if (statistic.isLoading) {
        <div class="loader-container">
          <p-skeleton width="100%" height="0.5rem"/>
          <div class="skeleton-bar-items">
            <span>
              <p-skeleton shape="circle" size="0.75rem"/>
              <p-skeleton [width]="(100 | randomOffset) + 'px'" height="1rem"/>
            </span>
            <span>
              <p-skeleton shape="circle" size="0.75rem"/>
              <p-skeleton [width]="(100 | randomOffset) + 'px'" height="1rem"/>
            </span>
            <span>
              <p-skeleton shape="circle" size="0.75rem"/>
              <p-skeleton [width]="(100 | randomOffset) + 'px'" height="1rem"/>
            </span>
          </div>
        </div>
      } @else if (statistic.totalCards > 0) {
        <p-meterGroup [value]="getStatisticsForMeter(statistic)" [max]="getTotalCards(statistic)">
          <ng-template pTemplate="label">
            <div class="meter-descriptions">
              @for (meter of getStatisticsForMeter(statistic); track $index) {
                <div class="meter-description">
                  <span class="meter-color" [style.background-color]="meter.color"></span>
                  <span class="meter-label">
                    {{ meter.label }}:&nbsp;<b>{{ meter.value }}</b>&nbsp;({{  meter.value ? (meter.value / getTotalCards(statistic) * 100 | number: '1.0-0') : 0 }}%)
                  </span>
                </div>
              }
            </div>
          </ng-template>
        </p-meterGroup>
      } @else {
        <p class="no-data">{{ "statistics.noData" | transloco }}</p>
      }
    </div>
  }
</div>
