<div class="filters-container border round">
  <button #filtersButton class="accordion" (click)="onFiltersClick()">
    <fa-icon [icon]="faFilter"></fa-icon>
    <div class="label">
      <span>{{ "common.filters" | transloco }}</span>
      @if (activeFiltersCount > 0) {
        <span class="active-filters-badge">{{ activeFiltersCount }}</span>
      }
    </div>
    <fa-icon class="chevron" [icon]="faChevronUp"></fa-icon>
  </button>
  <div #filtersPanel class="panel">
    <div class="filters-container">
      <div class="filter full">
        <app-input-text
          label="{{ 'common.search' | transloco }}"
          [(ngModel)]="searchText"
        ></app-input-text>
      </div>
      <div class="filter">
        <app-dropdown
          [options]="cardColors"
          label="{{ 'cards.color' | transloco }}"
          [multipleSelect]="true"
          [(ngModel)]="selectedColors"
        ></app-dropdown>
      </div>
      <div class="filter">
        <app-dropdown
          [options]="cardSets"
          label="{{ 'cards.set' | transloco }}"
          [multipleSelect]="true"
          [(ngModel)]="selectedSets"
        ></app-dropdown>
      </div>
      <div class="filter">
        <app-dropdown
          [options]="cardRarities"
          label="{{ 'cards.rarity' | transloco }}"
          [multipleSelect]="true"
          [(ngModel)]="selectedRarities"
        ></app-dropdown>
      </div>
      <div class="filter">
        <app-checkbox
          label="{{ 'cards.showOnlyOwned' | transloco }}"
          [(ngModel)]="showOnlyOwnedFilter"
        ></app-checkbox>
      </div>
    </div>
    <div class="filters-actions">
      <app-button
        [label]="'common.clear' | transloco"
        (onClick)="onFiltersClearClick()"
      ></app-button>
      <app-button
        [label]="'common.apply' | transloco"
        (onClick)="onFiltersApplyClick()"
      ></app-button>
    </div>
  </div>
</div>
<div class="cards-container" appScrollNearEnd (nearEnd)="onNearEndScroll()">
  @for (card of cards; track card.card.id) {
    <div class="card-container">
      <app-card-preview
        [card]="card"
        (quantityIncrease)="onQuantityIncrease(card)"
        (quantityDecrease)="onQuantityDecrease(card)"
      ></app-card-preview>
    </div>
  }
</div>

@if (isLoadingInProgress) {
  <div class="loader-container">
    <app-ring-spinner></app-ring-spinner>
  </div>
}
