<app-cards-filter-panel [filters]="filters" [colors]="cardColors" [sets]="cardSets" [rarities]="cardRarities"
                        (apply)="onFiltersApply($event)"></app-cards-filter-panel>

<div class="applied-filters-chips-container">
  @for (filter of getAppliedFiltersForChips(); track $index) {
    <app-chip
      [label]="filter.label"
      (remove)="onFilterChipRemoveClick(filter)"
    ></app-chip>
  }
</div>

<div appScrollNearEnd (nearEnd)="onNearEndScroll()">
  <app-cards-grid
    [cards]="cards"
    [showLoading]="isLoadingInProgress"
    [loadingItemsCount]="loadingCardsPerPage"
  >
    <ng-template let-card>
      <div class="card-actions">
        <app-button
          [icon]="faMinus"
          size="small"
          [disabled]="!canDecreaseQuantity(card)"
          (onClick)="onMinusClick(card)"
        ></app-button>
        <app-input-number
          [lazy]="true"
          [value]="card.quantity"
          (onChangeValue)="onQuantityChange($event, card)"
        ></app-input-number>
        <app-button
          [icon]="faPlus"
          size="small"
          (onClick)="onPlusClick(card)"
        ></app-button>
      </div>
    </ng-template>
  </app-cards-grid>
</div>
