.filters-container {
  margin: 0 1rem 1rem 1rem;
  background-color: var(--white);
  align-items: center;

  .accordion {
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: var(--white);
    border-radius: var(--border-radius);
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .chevron {
        transform: rotate(0deg);
      }
    }

    .label {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .active-filters-badge {
        background-color: var(--primary-500);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        line-height: 0.75rem;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
      }
    }

    .chevron {
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  }

  .panel {
    //padding: 0 1rem;
    display: none;

    &.active {
      display: block;
    }

    .filters-container {
      display: flex;
      flex-wrap: wrap;

      .filter {
        flex: 0 0 auto;
        width: 33.33333%;
        padding: 0 1rem;

        &.full {
          width: 100%;
        }
      }
    }

    .filters-actions {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      padding: 0 1rem 1rem 1rem;
    }
  }
}

.applied-filters-chips-container {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;

  .card-placeholder {
    width: 200px;
    aspect-ratio: 210/297;
    border-radius: var(--border-radius);
  }
}

.card-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .filters-container {
    .panel {
      .filters-container {
        .filter {
          width: 100%;
        }
      }
    }
  }

  .card-actions {
    gap: 0.25rem;
  }
}
