<div class="card border" [ngClass]="{'not-owned': card.quantity === 0, 'foil': isFoil}">
  @if (card.card.imageUrl) {
    <img [src]="card.card.imageUrl" [alt]="card.card.name">
  }
  <div class="card-overlay">
    <app-button
      [icon]="faEye"
      size="small"
      (onClick)="onGalleryClick()"
    ></app-button>
    <div class="sets-chip-list">
      @for (setCode of card.card.setCodes; track setCode) {
        <span class="set-chip">{{ setCode }}</span>
      }
    </div>
    <span class="card-key">{{ card.card.code }}</span>
    <span class="card-name">{{ card.card.name }}</span>
    <div class="card-properties">
      <span class="rarity">{{ 'cards.rarities.' + (cardRarity | camelCase) | transloco }}</span>
      @if (isFoil) {
        <span class="foil">{{ 'cards.foil' | transloco }}</span>
      }
      @if (isAlternateArt) {
        <span class="alternate-art">{{ 'cards.rarities.alternateArt' | transloco }}</span>
      }
      @if (isMangaArt) {
        <span class="manga-art">{{ 'cards.mangaArt' | transloco }}</span>
      }
      @if (isPrb01Skull) {
        <span class="manga-art">
          <fa-icon [icon]="faSkull"></fa-icon>
          {{ 'cards.prb01Skull' | transloco }}
        </span>
      }
    </div>
    <div class="card-actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>
</div>

<p-galleria
  [value]="galleryImages"
  [(visible)]="displayGallery"
  [responsiveOptions]="galleryResponsiveOptions"
  [containerStyle]="{ 'max-width': '50%' }"
  [fullScreen]="true"
  [showItemNavigators]="false"
  [showThumbnailNavigators]="false"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item.source"
      [alt]="item.alt"
      style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img
        [src]="item.source"
        [alt]="item.alt"
        style="display: block;" />
    </div>
  </ng-template>
</p-galleria>
