<app-input-wrapper
  [label]="label"
  [for]="for"
  [required]="required"
  [errors]="errors"
>
  <div class="input-slider-container">
    @if (textMode) {
      <div>
        {{ value | avoidEmptyValue }}
      </div>
    } @else {
      <div>
        <div class="input-container">
          <ng-content select="[left]"></ng-content>
          <p-slider
            [ngModel]="value"
            [min]="min"
            [max]="max"
            [range]="range"
            [step]="step"
            (onChange)="onModelChange($event)"
            (onSlideEnd)="onSlideEndEvent()"
          ></p-slider>
          <ng-content select="[right]"></ng-content>
        </div>
        @if(range && showRange) {
          <div class="range-container">
            <span>{{ getLeftExtremum() }}</span>
            <span>{{ getRightExtremum() }}</span>
          </div>
        }
      </div>
    }
  </div>
</app-input-wrapper>
