.input-slider-container {

  .input-container{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;

    p-slider {
      width: 100%;
    }
  }

  .range-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    align-items: flex-start;
  }
}
